@media (max-width: 1200px) {
	.container {
		max-width: 960px;
	}
	.title {
		&_fz48 {
			font-size: 28px;
		}
	}
	.promo {
		background-position: 60% 50%;
		&__title {
			line-height: 39px;
			//width: 300px;
		}
	}
	.about {
		&__wrapper {
			grid-template-columns: 400px 520px;
			column-gap: 40px;
		}
		&__skills {
			column-gap: 20px;
			grid-template-columns: repeat(2, 250px);
			&-item {
				grid-template-columns: 40px 195px;
				column-gap: 15px;
			}
		}
	}
	.resume {
		&__wrapper {
			grid-template-columns: repeat(2, 350px);
		}
	}
	.skills {
		&__wrapper {
			grid-template-columns: repeat(3, 270px);
		}
	}
	.portfolio {
		&__wrapper {
			grid-template-columns: repeat(auto-fit, 280px);
			grid-template-rows: 280px;
			justify-content: center;
			.horizontal, .vertical {
				grid-row: unset;
				grid-column: unset;
			}
		}
	}
	.contacts {
		&__wrapper {
			grid-template-columns: 1fr 1.5fr;
			justify-content: center;
			padding: 0;
			column-gap: 30px;
		}
		&__form {
			grid-template-columns: repeat(2, auto);
			column-gap: 20px;
		}
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 720px;
	}
	.sidepanel {
		display: none;
	}
	.title {
		&_fz36 {
			font-size: 30px;
		}
	}
	.about {
		&__wrapper {
			grid-template-columns: 300px 380px;
		}
		&__skills {
			grid-template-columns: 380px;
			grid-auto-rows: minmax(115px, auto);
			&-item {
				grid-template-columns: 40px 320px;
				column-gap: 20px;
			}
		}
	}
	.resume {
		&__wrapper {
			padding: 30px 35px 0 35px;
			grid-template-columns: repeat(2, 300px);
			column-gap: 70px;
		}
		&__item {
			&:before {
				width: 15px;
			}
			&-head {
				padding: 45px 0 0 70px;
			}
			&-icon {
				left: 15px;
			}
		}
	}
	.skills {
		&__wrapper {
			grid-template-columns: repeat(2, 270px);
		}
		&__progress-wrapper {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	.pricelist {
		&__wrapper {
			margin: 20px 20px 0 20px;
			grid-template-columns: repeat(auto-fit, minmax(330px, auto));
			column-gap: 20px;
			justify-content: center;
		}
	}
}

@media (max-width: 768px) {
	.container {
		max-width: 540px;
	}
	.promo {
		background-position: 58% 50%;
	}
	.about {
		padding-top: 40px;
		&__wrapper {
			grid-template: 430px auto auto / 1fr;
		}
		&__photo {
			grid-row: unset;
		}
		&__skills {
			grid-template-columns: repeat(2, 260px);
			&-item {
				grid-template-columns: 40px 200px;
				column-gap: 20px;
			}
		}
	}
	.resume {
		&__wrapper {
			padding: 30px 15px 0 15px;
			grid-template-columns: repeat(1, auto);
			row-gap: 40px;
		}
		&__item {
			&:before {
				width: 45px;
			}
			&-head {
				padding: 45px 0 0 100px;
			}
			&-icon {
				left: 45px;
			}
		}
	}
	.skills {
		padding-top: 40px;
		&__wrapper {
			grid-template-columns: 270px;
		}
		&__progress-wrapper {
			padding-top: 40px;
			grid-template-columns: 100%;
		}
	}
	.portfolio {
		padding-top: 40px;
	}
	.contacts {
		&__wrapper {
			grid-template-columns: 100%;
		}
		&__photo {
			display: none;
		}
	}
}

@media (max-width: 576px) {
	.container {
		max-width: 100%;
		padding: 0 10px;
	}
	.title {
		&_fz48 {
			font-size: 26px;
		}
		&_fz36 {
			font-size: 24px;
		}
	}
	.hamburger {
		right: 20px;
	}
	.promo {
		&__btns {
			margin-top: 30px;
		}
	}
	.menu {
		&__block {
			width: 250px;
			padding-left: 20px;
		}
	}
	.about {
		&__wrapper {
			grid-template: 340px auto auto / 1fr;
		}
		&__skills {
			grid-template-columns: 1fr;
		}
	}
	.pricelist {
		&__wrapper {
			grid-template-columns: repeat(auto-fit, minmax(280px, auto));
		}
	}
	.contacts {
		padding: 40px 0 50px 0;
		&__form {
			margin-top: 20px;
			grid-template-columns: 100%;
			grid-template-rows: 45px 45px 145px auto auto;

		}
		&__textarea {
			grid-column: auto;
		}
		&__triggers {
			grid-row: 4 / 6;
			grid-column: auto;
			grid-template-columns: 220px;
			grid-template-rows: repeat(2, auto);
			row-gap: 20px;
			justify-content: center;
		}
		&__policy {
			grid-row: 1 / 2;
		}
	}
}