.pricelist {
	padding-top: 60px;
	&__wrapper {
		margin: 60px 50px 0 50px;
		display: grid;
		grid-template-columns: repeat(2, minmax(368px, auto));
		justify-content: space-between;
		row-gap: 18px;
	}
	&-item {
		position: relative;
		display: grid;
		grid-template-columns: auto auto;
		justify-content: space-between;
		&__service {
			padding-left: 25px;
			@include before-circle;
			&:before {
				height: 15px;
				width: 15px;
				top: 3px;
			}
		}
		&__price {
			text-align: right;
			grid-column: 2;
		}
		&__desc {
			margin-top: 5px;
			padding-left: 25px;
			grid-column: 1 / 3;
			grid-row: 2;
			font-weight: 500;
		}
	}
}