.promo {
	min-height: 100vh; //занимает всю высоту монитора пользователя (с лююбым расширением)
	position: relative;
	background: url('../img/main_bg.jpg') no-repeat center / cover;
	padding-top: 205px;
	.title {
		text-align: right;
		color: white;
	}
	&__title {
		//width: 535px;
		margin-top: 10px;
	}
	&__subtitle {
		z-index: 2;
		position: relative;
		@include before-circle;
		&:before {
			right: 172px;
			left: auto;
		}
	}
	&__btns {
		margin-top: 25px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		cursor: pointer;
	}
	&__link {
		margin-left: 44px;
		color: #ffffff;
		font-weight: bold;
		&:hover {
			color: #ffffff;
			text-decoration: none;
		}
	}
}