.skills {
	padding-top: 120px;
	&__wrapper {
		margin-top: 60px;
		display: grid;
		grid-template-columns: repeat(4, 270px);
		grid-template-rows: repeat(2, minmax(270px, auto));
		grid-auto-rows: minmax(270px, auto);
		grid-auto-columns: 270px;
		gap: 13px;
		justify-content: center;
	}
	&__item {
		padding: 30px 30px 25px 30px;
		border: 1px solid #000000;
		&-img-wrapper {
			min-height: 65px;
			display: flex;
			align-items: center;
			img {
				height: 100%;
			}
		}
		&-head {
			margin-top: 30px;
			margin-bottom: 0;
		}
		&-desc {
			margin-top: 15px;
			margin-bottom: 0;
		}
	}
	&__progress-wrapper {
		padding-top: 120px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 70px);
		column-gap: 45px;
		row-gap: 30px;
	}
	&__progress-item {
		position: relative;
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: 21px 14px;
		row-gap: 27px;
		&-head {
			padding-left: 14px;
			grid-column: 1 / 2;
			grid-row: 1 / 2;
			@include before-circle;
			&:before {
				top: -8px;
    			left: 0;
			}
		}
		&-title-percent {
			grid-column: 2 / 3;
			grid-row: 1 / 2;
			text-align: right;
		}
		&-scale {
			height: 14px;
			background: #E8E4DE;
			border-radius: 4px;
			grid-column: 1 / 3;
			grid-row: 2 / 3;
			span {
				display: block;
				height: 100%;
				background: $main-color;
			}
		}
	}
}